@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-image: url("../img/Background/1001425283.jpg");
	/*background-position:center;*/
	background-size:cover;
	background-color:#f6f5f7;
    height: 100vh;
    font-family: 'B612', sans-serif;
}

h2{
	margin-left:80px;
    position: relative;
    bottom: 30px;
	color:darkorange;

}

Input[type=text]{
    background: #eee;
	color:black;
	border:none;
	height:90%;

    border-bottom: 2px solid silver;
    border-color: silver;
}
input:focus{
    outline: none;
}
  input:valid:focus{
    border-color: chartreuse;
  }
  input:invalid:focus{
    border-color: red;
  }

select{
    background: #eee;
	height:90%;
	border:none;
	
}

Input[type=tel]{
    background: #eee;
	color:black;
	border:none;
	height:90%;
	border-bottom: 2px solid silver;
}

Input[type=email]{
    background: #eee;
	color:black;
	border:none;
	height:90%;
    border-bottom: 2px solid silver;

}

textarea{
    background: #eee;
	color:black;
	border:none;
	height:90%;
	border-bottom: 2px solid silver;

}


table{
	
	Margin-left:500px;
	Margin-right:auto;
	Margin-top:auto;
	Margin-bottom:auto;
	
	
	
}

td{
	height:35px;
	
	
}

form{

	position: relative;
	top:55%;
	background-color:white;
}
  
 
#content {
    max-width: 900px;
    height: 800px;
    background: white;
    position: relative;
    margin: 0 auto;
    top:10%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 10px;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.2),0 5px 5px rgba(0, 0,0, 0.2) ;
    z-index: 1;
	
    
}

#content::after{

    content: "";
    display:block;
    background-image: url("../img/Background/8393-min.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 100px;
    right: 
    50px;
    bottom: 0px;
    left: -600px;
    opacity: 0.9;
    margin: auto;
    z-index: -1;
}


.button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
 
  transition: 0.1s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  position:relative;
  margin-top:15px;
  
  
  
  
}

.button:hover {background-color: darkorange;
    border:1px solid darkorange;
    color: white;}



#box{

    position: relative;
    top: 10%;
}




