
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');
body{
		
		font-family: 'B612', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
	}


#wave1{
margin-bottom: -60px;
background-color: white;
display: block;

}
#box3{
  background-color: white;
  width: 100%;
  height: 250px;
  text-align: center;
  color: darkorange;
}
#box2{
  width: 100%;
    background-color: darkorange;
    text-align: center;
    color: white;
    height: 250px;
    display: flex;
    
  }
#box1{
width: 100%;
  background-color: darkorange;
  text-align: center;
  color: white;
  height: 250px;
  
}
#btn{

  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  }

#slider p{
  position:absolute;
 text-align: center;
 left: 50%;
 right: 50%;
 top:10%;
  font-size: 50px;
}
 #row1{

  position: relative;
  margin-top: 50px;
 
 }
 #row2{
  margin-top: 60px;
  position: relative;

 }
#btn1{
margin-right: 200px;
}
#btn3{

  margin-right: 200px;
}
.but{

  border-radius: 20px;
  border:1px solid darkorange;
  background: darkorange;
  color: rgb(75, 143, 182);
  font-size: 12px;
  font-weight: bold;
  
  text-transform: uppercase;
  transition: transfrom 80ms ease-in-out;
  color: white;
  width: 500px;
  height: 150px;
}
.but:hover{
  background-color: white;
  border:1px solid darkorange;
  color: darkorange;
}

#center{

position: relative;
top:100px;
  margin: 0 auto;
  font-size: 30px;
}
  #slider{
    overflow: hidden;
    text-align: center;
    z-index: -99999;
  }
  #slider figure{
    position: relative;
    width: 500%;
    height: 600px;
    margin:0;
    left:0;
    animation: 30s slider infinite;
    text-align: center;
    z-index: -99999;
  }
  
  #slider figure img{
    float: left;
    width: 20%;
    height: 100%;

  }
  
  @keyframes slider{
    0%{
      left:0;
    }
    20%{
      left: 0;
    }
    25%{
      left: -100%;
    }
    45%{
      left: -100%;
    }
    50%{
      left: -200%;
    }
    70%{
      left: -200%;
    }
  
    75%{
      left: -300%;
    }
    80%{
      left:-300%
    }
    95%{
      left: -400%;
    }
    100%{
      left: -400%;
    }
    100%{
      left: 0;
    }
   

    
  }
  #iconRow{
    color: darkorange;
  }
  #iconRow::after {
    content: "";
    clear: both;
    display: table;
  }
  .box{
    position: relative;
    width: 20%;
    margin-right: 70px;
    float:left;
  }
  
  .image {
    display: block;
    width: 50%;
    height: 50%;
  }
  
  .overlayer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:darkorange;
    overflow: hidden;
   width: 100%;
    height: 100%;
    transform: scale(0);
    transition: .5s ease;
       border-radius:  50%;
  }
  
  .box:hover .overlayer {
    transform: scale(1);
  }
  .image{

    display: block;
    width: 100%;
    height: auto;
       border-radius:  50%;
  
    
  }
  .txt {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #iconRow h1{

    text-align: center;
    color: darkorange;
  }
 #box2::after{
  content: "";
  clear: both;
  display: table;
 }
 .option{

  float:left;
  margin-left: 30px;
  margin-top: 30px;
 }
 .option3{

  float:left;
  margin-left: 300px;
  margin-top: 30px;
 }
.option2{
  
margin-left: 30%;
margin-top: 75px;

}

#box3::after {
  content: "";
  clear: both;
  display: table;
}
 #box3 img{
      width: 100%;
      height: 100%;
 }

