/*=====================================OFFERS PAGE=======================================*/
* {
  box-sizing: border-box;
         }

          .row {
               display: flex;
                  
                }

/* Create three equal columns that sits next to each other */
                        .column {
                                    flex: 33.33%;
                                    padding: 10px;
                                }

.card2{  
  justify-content:space-between;
 }  
 .row{

  height: 400px;
 }
 #uldesing ul  {
   list-style-type:none;
   margin: 10;
   padding: 0;
   overflow: hidden;
   display: block;
   line-height: 20px;
   text-align:left;
   color: #00ffff;
   font-variant: small-caps;
 }
 
 #uldesing li  {
   list-style-type:none;
   margin: 10;
   padding: 0;
   overflow: hidden;
   display: block;
   line-height: 24px;
   text-align:left;
   color: darkorange;
   font-variant: small-caps;
 }
 
 .button {
   text-align: left;
   text-decoration: none;
 
   cursor: pointer;
   color: white;
   position: center;
   border-radius: 30px;
   float:center;
   width: 230px;
   padding: 30px;
   display:block;
 
 
   padding:5px 10px;
   background-color: rgb(34, 34, 34);
   text-align: center;
   font-size: 15px;
   box-shadow:3px 3px 3px darkorange, 0 0 25px darkorange, 0 0 5px darkorange;
   transition: transform .10s;
 }
 
 .button:hover {
   transform: scale(1.1); 
 }
 
 .topic{
   padding:20px 20px;
         color: #cc3300;
 }
 
 .topic1{
   padding:20px 20px;
         color: darkorange;
 }
 
 .Ttxtstyle {
         padding:20px 20px;
   position: center;
         border-radius: 30px;
         color: darkorange!important;
         font-family: Georgia, serif;
         font-size: 2.5em; 
         text-decoration: underline;
         text-transform: uppercase;
 }
 
 .starIcon{
   width:20px;
   height:20px;
   margin-right:10px;
 }
 
 .correctIcon {
   width:20px;
   height:20px;
   margin-right:10px;
 }
 
 .errorIcon {
         width:20px;
   height:20px;
   margin-right:10px;
 }
 .button1 {
   text-align: left;
   text-decoration: none;
 
   cursor: pointer;
   color: darkorange;
  
   border-radius: 30px;
   float:center;
   width: 400px;
   padding: 20px;
   display:block;
 
   margin:  0 auto;
   padding:30px 20px;
   background-color: rgb(34, 34, 34);
   text-align: center;
   font-size: 17px;
   box-shadow:3px 3px 3px darkorange, 0 0 25px darkorange, 0 0 5px darkorange;
   transition: transform .10s;
  
 
 }
 .button1:hover {
   transform: scale(1.1); 
 }
 
 .button3 {
   text-align: left;
   text-decoration: none;
 
   cursor: pointer;
   color: white;
  
   border-radius: 30px;
   float:right;
   width: 400px;
   padding: 20px;
   display:block;
 
    margin-right:  50px;
   padding:30px 20px;
 background-color: rgb(34, 34, 34);
   text-align: center;
   font-size: 17px;
   box-shadow:3px 3px 3px darkorange, 0 0 25px darkorange, 0 0 5px darkorange;
   transition: transform .10s;
 
 }
 
 
 
 .button3:hover {
   transform: scale(1.1); 
 }
 
 .button2 {
   text-align: left;
   text-decoration: none;
 
   cursor: pointer;
   color: white;
  
   border-radius: 30px;
   float:center;
   width: 400px;
   padding: 20px;
   display:block;
   margin:  0 auto;
   padding:30px 20px;
   background-color: rgb(34, 34, 34);
   text-align: center;
   font-size: 17px;
   box-shadow:3px 3px 3px darkorange, 0 0 25px darkorange, 0 0 5px darkorange;
   transition: transform .10s;
 
 }
 
 .button2:hover {
   transform: scale(1.1);
 }
 
 .div {
  border-radius: 30px;
 }
 
 .text-block {
   position: center;
   bottom: 1px;
   right: 30px;
   background-color:blue;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
 }
 
 .container {
   position: relative;
   font-family: Arial;
   
    border-radius: 7px;
    background-image: url(img/Background/1001425283.jpg);
    background-repeat: no-repeat;
    

 }
 
 .xtstyle {
         padding:20px 20px;
   position: center;
         border-radius: 30px;
         color: rgba(255, 140, 0, 0.685) !important;
         font-family: Georgia, serif;
         font-size: 2.5em;
 }
 
 .txtstyle {
 
        padding:20px 20px;
   position: center;
         border-radius: 30px;
         color: darkorange;
         font-family: Georgia, serif;
         font-size: 2.5em; 
 }
 
 .button4 {
   text-align: left;
   text-decoration: none;
 
   cursor: pointer;
   color: white;
   position: center;
   border-radius: 30px;
   float:center;
   width: 230px;
   padding: 30px;
   display:block;
   background-color: whitesmoke;
  margin: 0 auto;
   padding:5px 10px;
 
   font-size: 15px;
   box-shadow:2px 2px 2px #D9CE52, 0 0 25px #006B54, 0 0 5px #6C244C;
   transition: transform .10s;
 }

 .button4::after{



  content: "";
  background-image: url(img/);
  background-size: cover;
  background-repeat:no-repeat ;
  position: absolute;
  top:0;
  right: 0;
  bottom: 0px;
  left: 0%;
  z-index: -2;
  opacity: 0.5;
 }
 
 .button4:hover {
   transform: scale(1.1); 
 }
 
 .button5 {
   text-align: left;
   text-decoration: none;
 
   cursor: pointer;
   color: rgb(255, 25, 25);
   position: center;
   border-radius: 30px;
   float:center;
   width: 230px;
   padding: 30px;
   display:block;
 
 
   padding:5px 10px;
   background-color: whitesmoke;
   text-align: center;
   font-size: 15px;
  box-shadow:2px 2px 2px #D9CE52, 0 0 25px #006B54, 0 0 5px #6C244C;
   transition: transform .10s;

 }

 .button5:hover {
   transform: scale(1.1); 
 }
 
 .button6 {
   text-align: left;
   text-decoration: none;
 
   cursor: pointer;
   
   position: center;
   border-radius: 30px;
   float:center;
   width: 230px;
   padding: 30px;
   display:block;
 
 
   padding:5px 10px;
   background-color: whitesmoke;
   text-align: center;
   font-size: 15px;
   box-shadow:2px 2px 2px #D9CE52, 0 0 25px #006B54, 0 0 5px #6C244C;
   transition: transform .10s;
 }
 
 .button6:hover {
   transform: scale(1.1); 
 }
 
 .button7 {
   text-align: left;
   text-decoration: none;
 
   cursor: pointer;
   color: white;
   position: center;
   border-radius: 30px;
   float:center;
   width: 230px;
   padding: 30px;
   display:block;
 
 
   padding:5px 10px;
   background-color: whitesmoke;
   text-align: center;
   font-size: 15px;
   box-shadow:2px 2px 2px #D9CE52, 0 0 25px #006B54, 0 0 5px #6C244C;
   transition: transform .10s;
 }
 
 .button7:hover {
   transform: scale(1.1); 
 }
 
 .button8 {
   text-align: left;
   text-decoration: none;
 
   cursor: pointer;
   color: white;
   position: center;
   border-radius: 30px;
   float:center;
   width: 230px;
   padding: 30px;
   display:block;
 
 
   padding:5px 10px;
   background-color: whitesmoke;
   text-align: center;
   font-size: 15px;
   box-shadow:2px 2px 2px #D9CE52, 0 0 25px #006B54, 0 0 5px #6C244C;
   transition: transform .10s;
 }
 
 .button8:hover {
   transform: scale(1.1); 
 }
 





 #full{


background-image: url(../img/Background/1001425283.jpg);
background-repeat: no-repeat;
background-size: cover;
 }
 /*============================================================================*/
 
 
 
 
 
 
 